<!DOCTYPE html>
<!-- Note here that href is wrt 'express.static' path -->
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by SM. APIs used:</p>
            <p>mapbox.com</p>
            <p>darksky.net</p>
            <img class="portrait" src="./img/yo.png">
        </div>
        {{>footer}}
    </body>
</html>